body {
  padding-top: 60px;
  padding-bottom: 40px;
}

footer nav ul {
  float: right;
}

footer nav ul li {
  list-style: none;
  padding: 0 0 0 2em;
  float: left;
}

footer p {
  float: left;
}

select.datetime { width: auto;}

input,
textarea,
select,
.wider
{
  width: 315px;
}

legend {
  margin-bottom: 18px;
}

dl.upcoming-events dt, dl.past-events dt {
  width: 240px;
  height: 24px;
  margin-right: 20px;
}

dl.upcoming-events dd, dl.past-events dd {
  width: auto;
  height: 24px;
}

dd.edit-link, dd.publicity {
  margin-top: 13px;
}
