<% if @event.errors.any? %>
<div class="alert alert-error">
  <h4 class="alert-heading">Oops! <%= pluralize(@event.errors.count, "error") %> got in the way.</h4>
  There were problems with the following fields:
  <ul>
    <% @event.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>
