<%= page_header "Contact" %>
<p>oh!vents was built and is run by <a href="http://www.benjaminasmith.com/" title="Benjamin Alexander Smith's website">benjamin alexender smith</a>. Feel free to <a href="http://www.twitter.com/benjaminasmith" title="@benjaminasmith on Twitter">follow me on twitter</a> or <a href="mailto:web@benjaminasmith.com">shoot me an email</a>.</p>
