<%= page_header "Events organisation, Twitter-style." %>
<p>oh!vents is a simple way to organise events via Twitter.</p>
<ul>
  <li>Invite followers via mention or direct message</li>
  <li>Get them to RSVP via the web or a tweet</li>
</ul>
