      <hr>

      <footer>
        <nav>
          <ul>
            <li><%= link_to "News", 'http://www.benjaminasmith.com/blog/' %></li>
            <li><%= link_to "Contact", contact_path %></li>
          </ul>
        </nav>
        <p>&copy; oh!vents 2012</p>
      </footer>
