<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%= stylesheet_link_tag 'bootstrap' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <h1>oh!vents</h1>

<%= yield %>

  </body>
</html>
